{%  include 'website/main.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/unisozluk_login.css' %}">

{% block content %}
<div class="jumbotron" style=" background: none">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column">
                        <img class="img-fluid login-img" src="{% static 'images/loginimg.jpg' %}" alt=""/>
                    </div>
                    <form class="d-flex flex-column align-items-center align-self-center login-info-panel" method="POST"
                          action="">
                        <h1 class="mb-md-5" style="color: #60475a; font-family: 'Times New Roman'">Üye Girişi</h1>
                        {% csrf_token %}
                        <input name="username" type="text" class="form-control mb-sm-2" placeholder="Kullanıcı Adı"
                               aria-label="Username" aria-describedby="basic-addon1">

                        <input name="password" type="password" id="inputPassword6" placeholder="Şifre"
                               class="form-control mx-sm-2" aria-describedby="passwordHelpInline">

                        <input class="btn btn-primary mt-3" type="submit"
                               style="background-color: #59788E; width: 150px"
                               value="Giriş">

                        <a href="signup" class="mt-4">Henüz üye olmadın mı? Nasıl olur?</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

