{% include 'website/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/resultpage.css' %}">
{% block content %}

    <header class="result-header" style="font-family:'Comic Sans MS'" color="#120923">Filtreleme Kriterleri</header>

    <div class="result-form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="cheapfirst">
            <label class="form-check-label" for="cheapfirstlabel">Fiyata göre artan</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="expensivefirst">
            <label class="form-check-label" for="expensivefirstlabel">Fiyata göre azalan</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="unsuccesfulfirst">
            <label class="form-check-label" for="unsuccesfulfirstlabel">Başarıya göre artan</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="succesfulfirst">
            <label class="form-check-label" for="succesfulfirstlabel">Başarıya göre azalan</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="leescorefirst">
            <label class="form-check-label" for="lesscorefirst">Taban puanına göre artan</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="morescorefirst">
            <label class="form-check-label" for="morescorefirst">Taban puanına göre azalan</label>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-9 ">
            <div class="table-responsive">
                <table class="table table-bordered ">
                    <thead>
                    <tr class="result-table-header">
                        <th scope="col">Derece</th>
                        <th scope="col">Alan</th>
                        <th scope="col">Bölüm</th>
                        <th scope="col">Üniversite</th>
                        <th scope="col">Şehir</th>
                        <th scope="col">Burs</th>
                        <th scope="col">Taban Puanı</th>
                        <th scope="col">Sıralama</th>
                        <th scope="col">Ücret</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="result-table-row">
                        <td>2 Yıllık (Ön-lisans)</td>
                        <td>TYT</td>
                        <td>Su Altı Teknolojileri</td>
                        <td>İstanbul Gedik Üniversitesi</td>
                        <td>İstanbul</td>
                        <td>%50 İndirimli</td>
                        <td>170,182</td>
                        <td>153</td>
                        <td>14.375TL</td>
                        <td class="result-button-group">
                            <button type="button" class="btn btn-success btn-sm">EKLE</button>
                            <button type="button" class="btn btn-info btn-sm">ÜniSözlük</button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <nav aria-label="pagination-result">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}