{% include 'website/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/resultpage.css' %}">
{% block content %}

    <div class="d-flex flex-column justify-content-center">
        <header class="result-header" style="font-family:'Comic Sans MS'" color="#120923">Sonuçlar</header>
        <div class="row justify-content-md-center">
            <div class="col-md-9 ">
                <div class="table-responsive">
                    <table class="table table-bordered ">
                        <thead>
                        <tr class="result-table-header">
                            <th scope="col">Derece</th>
                            <th scope="col">Alan</th>
                            <th scope="col">Bölüm</th>
                            <th scope="col">Üniversite</th>
                            <th scope="col">Şehir</th>
                            <th scope="col">Burs</th>
                            <th scope="col">Taban Puanı</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for datum in data %}
                            <tr class="result-table-row">
                                <td>{{ datum.get_total_year_display }}</td>
                                <td>{{ datum.faculty.get_edu_field_display }}</td>
                                <td>{{ datum.name }}</td>
                                <td>{{ datum.faculty.university.name }}</td>
                                <td>{{ datum.faculty.university.city }}</td>
                                <td>{{ datum.get_scholarship_display }}</td>
                                <td>{{ datum.score }}</td>
                                <td class="result-button-group">
                                    {% if is_authenticated %}
                                        <button type="button" class="btn btn-success btn-sm">EKLE</button>
                                        <button type="button" class="btn btn-info btn-sm">ÜniSözlük</button>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}