{%  include 'website/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/unisozluk_login.css' %}">

{% block content %}


    <div class="d-flex flex-column align-items-center" style="width: 100%">
        <div class="d-flex flex-row mb-3">
            <input class="form-control search-bar" type="search" placeholder="Arama" aria-label="Search">
        </div>
        <span class="mb-4">
            Puana göre filtrele:
            <span class="fa fa-star checked" style="color: #faca0f"></span>
            <span class="fa fa-star checked"  style="color: #faca0f"></span>
            <span class="fa fa-star checked"  style="color: #faca0f"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </span>


          <div class="d-flex flex-row unisozluk-card mt-3" style="width: 80%;">
            <div class="unisozluk-card-img">
                <div class="uni-img" src="{% static 'images/ışıküni.jpg' %}" alt="" >
                    <div class="circle d-flex align-items-center">
                        <span class="fa fa-star checked"  style="color: #faca0f"></span>
                        <span>3.4</span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column ml-3">
               <span class="d-flex align-self-center" style="font-family: 'Times New Roman'; font-size: 28px; font-weight: bold">
                   <a class="unilink" href="/unipage"> Işık Üniversitesi </a>
                   </span>
                <p style="font-family: 'Times New Roman'">
                    1996 yılında eğitim-öğretim hayatına başlayan Işık Üniversitesi, Feyziye Mektepleri Vakfı'nın 133 yıllık köklü eğitim geleneğinin eseridir.
                </p>
                <div class="d-flex flex-row align-items-center">
                    <span style="font-family: 'Times New Roman'; color: #4169e1; margin-right: 20px">
                        En Güncel Değerlendirme:
                    </span>
                    <div class="d-flex flex-column align-items-center">
                        <img class="icon" style="width: 50px; border-radius: 50px; border: 2px solid" src="{% static 'images/dany.jpg' %}" alt="">
                        <span style="font-family: 'Times New Roman'; font-weight: bold">callMeKhaleesi</span>
                    </div>

                    <div class="comment">
                        <p style="font-size: small">
                            mühendislik fakültesinde survivor çekiyoruz
                        </p>
                    </div>
                </div>
            </div>


        </div>

    </div>








{% endblock %}