.logo {
    height: 3.5em;
    width: auto;
}

body {
    background-color: #ebeff5;
}

.login-card{
    background-color: white;
    width: 70%;
    height: 480px;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px grey;
}

.login-img{

    height: 380px;
    margin-top: 55px;
    margin-left: 7%;
}

.login-info-panel{
    width: 40%;
    margin-right: 10%;

}

.sign-img{
    height: 330px;
    margin-top: 80px;
    margin-right: 4%;
}

.search-bar{
    margin-top: 40px;
    width: 450px;
}

.unisozluk-card{
    /*width: 70%;*/
    /*height: 180px;*/
    background-color: #cfd8dc;
    /*margin-top: 90px;*/
    border-radius: 10px;
    box-shadow: 2px 2px 8px darkgrey;

}

.unisozluk-card-img {
    width: 25%;
    height: 170px;
    padding: 15px;
    flex-wrap: nowrap;
    background: no-repeat url("/static/images/ışıküni.jpg");
}
.circle {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
}