.result-table-header {
    background: #B09BD5;
    color: white;
}

.text-area {
    margin-left: 1em;
}

.result-form-group {
    display: flex;
}

.text-header {
    margin-top: 1em;
    margin-left: 1em;
    font-weight: bold;
    color: #3F2C63;
    text-decoration: underline;
}

.result-button-group {
    text-align: center;
}

.result-table-row {
    background: white;
}

.form-check {
    margin-left: 1em;
    margin-bottom: 1em;
}


.page-link {
    color: #B09BD5;
}

.page-link:hover {
    color: black;
}